@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);



:root{
  /* consistency를 위함 */
  /* color */
--white-color:#FFFFFF;
--semi-white: #f7f7f7;
--black-color:#140700;
--purple-color:#5f0080;
--red-color:rgb(250, 98, 47);
--grey-dark-color:#333;
--grey-light-color:#404040;


  /* size  */
--padding:16px;
--action-size: 36px;
--logo-size: 100px;

  /* font size */
--font-exlarge: 28px;
--font-large: 20px
--font-medium: 16px;
--font-small:14px
--font-xsmall: 12px;
--font-micor: 10px;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
div, th, td, li, dt, dd, p {
  word-break: break-all;
}

a{
  background-color: transparent;
  text-decoration: none;
}

body{
  font-family: Roboto;
}

ul {
  list-style: none;
}

button, button:focus{
  border: none;
  cursor: pointer;
  outline: none;
}

/* header  */
header{
  position: relative;
}
/* 배너 */
.banner{
  position: relative;
  min-width: 1050px;
  text-align: center;
  line-height: 42px;
  font-size: var(--font-small);
}
header .banner p{
  display: block;
  height: 42px;
  background-color: var(--purple-color);
  color:var(--white-color);
}




/* userMenu */
#userMenu * {
  font-family: noto sans;
  font-weight: 400;
  letter-spacing: -.3px;
}
#userMenu{
  width: 1050px;
  margin: 0 auto;
  letter-spacing: -.3px;
  font-size: var(--font-xsmall);
  height: 36px;
}

#userMenu .list_menu {
  float: right;
}
#userMenu .menu {
  position: relative;
  z-index: 400;
  float: left;
}
#userMenu .menu_join .link_menu {
  color:var(--purple-color);
  font-size: 13px;
}

#userMenu .link_menu {
  float: left;
  height: 37px;
  padding: 0 12px;
  color: var(--grey-dark-color);
  line-height: 35px;
  white-space: nowrap;
  font-size: 13px;
}
#userMenu .menu .menu_service .link_menu {
  padding-right: 13px;
}


#userMenu .menu_join:after {
  content: "";
  float: right;
  width: 1px;
  height: 13px;
  margin-top: 12px;
  background-color: #d8d8d8;
}
#userMenu .menu_login:after {
  content: "";
  float: right;
  width: 1px;
  height: 13px;
  margin-top: 12px;
  background-color: #d8d8d8;
}
#userMenu .list_menu:after {
  content: "";
  display: block;
  overflow: hidden;
  width: 100%;
  height: 0;
  font-size: 0;
  text-indent: -9999px;
}

/* 고객센터의 하위 sub ul */
#userMenu .menu.lst .link_menu {
  padding-right: 13px;
}
#userMenu .lst .sub {
  left: auto;
  right: 0;
}

#userMenu .sub {
  display: none;
  position: absolute;
  left: 0;
  top: 34px;
  width: 102px;
  padding: 3px 9px;
  border: 1px solid #ddd;
  background-color: var(--white-color);
}
#userMenu .menu.lst:before {
  right: 0;
}
#userMenu .menu.lst:before {
  content: "";
  position: absolute;
  /* right: 13px; */
  top: 16px;
  width: 8px;
  height: 5px;
  background: url(https://res.kurly.com/pc/ico/1908/ico_down_8x5.png) no-repeat 0 0;
}

#userMenu .lst .sub {
  left: auto;
  right: 0;
}
#userMenu .sub a {
  font-size: 12px;
  color: var(--grey-light-color);
  line-height: 24px;
  white-space: nowrap;
  cursor: pointer;
}
/* mouse 오버시 하위 메뉴 표시 */
#userMenu li ul{
  background-color: var(--white-color);
  display:none; 
  height:auto;
  border:0px;
  position:absolute;
  width:80px;
  z-index:200;
}
#userMenu li:hover ul{
  display:block;
  }
#userMenu li li {
    display:block;
    float:none;
    margin:0px;
    padding:0px;
    width:100px;
}
#userMenu li:hover li a{
  background:none;
}
#userMenu li ul a{
  display:block;
  height:20px;
  font-size:14px;
  margin:0px;
  padding:0px 5px 0px 5px;
  text-align:left;
}
#userMenu li ul a:hover, #userMenu li ul li:hover a{
  border:0px;
  text-decoration:none;
}
  

/* 마켓컬리 로고 */
#headerLogo{
  position: relative;
  width: 1050px;
  height: 63px;
  margin: 0 auto;
}
.layout-wrapper {
  position: relative;
  width: 1050px;
  height: 100%;
  margin: 0 auto;
}

#headerLogo .logo{ 
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 100%;
  height: 79px;
  text-align: center;
}
#headerLogo .logo .link_main {
  display: inline-block;
  height: 79px;
}
#headerLogo .logo #logoContainer {
  margin: 0 auto;
}

#headerLogo .logo img {
  display: block;
  width: 103px;
  height: 79px;
  margin: 0 auto;
}


/* 샛별 택배 배송 안내 img */
#headerLogo .moring_delivery {
  position: absolute;
  left: -1px;
  top: -28px;
  margin: auto;
  height: 22px;
}
img {
  vertical-align: top;
  max-width: 100%;
}



/* menu */
nav #menu{
  position: relative;
  z-index: 300;
  min-width: 1050px;
  background-color: #fff;
  font-family: 'Noto Sans';
  letter-spacing: -0.3px;
}
#menu .inner_menu{
  position: relative;
  width: 1050px;
  height: 56px;
  margin: 0 auto;
}
#menu .menu_main{
  overflow: hidden;
  width: 1050px;
  margin: 0 auto;
}
#menu .menu_main .menu_text{
  float: left;
  width: 100%;
}
#menu .menu_main .menu_text a {
  overflow: hidden;
  float: left;
  width: 124px;
  height: 55px;
  padding: 16px 0 0;
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
  line-height: 20px;
  text-align: center;
}
#menu .menu_main .menu_text a i.fa-solid{
  margin-right: 8px;
}
#menu .menu_search{
  position: absolute;
  right: 174px;
  top: 10px;
  width: 242px;
}
#menu .menu_search .box_search{
  width: 242px;
  height: 36px;
  padding: 0 60px 0 14px;
  border: 1px solid #f7f7f6;
  border-radius: 18px;
  background-color: #f7f7f7;
  font-family: 'Noto Sans';
  font-size: var(--font-xsmall);
  color: var(--grey-light-color);
  line-height: 16px;
  outline: none;
}
#menu .menu_search i.fa-solid.fa-magnifying-glass{
  position: absolute;
  right: 5px;
  top: 10px;
  width: 30px;
  height: 30px;
}

#menu .btn_location.on{
  background-image: url(https://res.kurly.com/pc/ico/2008/ico_delivery_setting.svg?ver=1);
}
#menu .btn_location {
  overflow: hidden;
  position: absolute;
  right: 114px;
  top: 10px;
  width: 36px;
  height: 36px;
  border: 0 none;
  background: url(https://res.kurly.com/pc/ico/2008/ico_delivery_setting_done.svg) no-repeat 50% 50%;
  text-indent: -9999px;
}
#menu .pick {
  display: inline-block;
  position: absolute;
  right: 61px;
  top: 10px;
  width: 36px;
  height: 36px;
  font-size: 0px;
}
#menu .pick .btn_pick{
  display: inline-block;
  width: 36px;
  height: 36px;
  border: none;
  color: transparent;
  background: url(https://res.kurly.com/pc/service/pick/btn-heart-off.svg) no-repeat 50% 50%;
  cursor: pointer;
}
#menu .cart_count {
  position: absolute;
  right: 8px;
  top: 10px;
}
#menu .cart_count .btn_cart{
  display: block;
    width: 36px;
    height: 36px;
    border: none;
    color: transparent;
    background: url(https://res.kurly.com/pc/service/common/2011/ico_cart.svg) no-repeat 50% 50%;
}

/* footer */

footer{
  font-weight: 400;
  letter-spacing: -.2px;
}

footer .footer-top {
  width: 1050px;
  margin: 0 auto;
}
footer .inner_footer {
  overflow: hidden;
  padding-bottom: 24px;
}
footer .footer_cc {
  float: left;
  width: 534px;
}
footer .tit_cc {
  padding: 29px 0 2px;
  font-weight: 700;
  font-size: var(--font-large);
  color: var(--grey-dark-color);
  line-height: 24px;
}

footer .cc_call {
  padding-top: 20px;
}

footer .cc_call .tit {
  padding-top: 4px;
  font-weight: 800;
  font-size: var(--font-exlarge);
  color: var(--grey-dark-color);
  line-height: 36px;
  letter-spacing: -.5px;
  white-space: nowrap;
}


footer .cc_bulkorder .txt, footer .footer_cc .list{
    font-size: var(--font-small);
    color: var(--grey-dark-color);
    line-height: 22px;
    letter-spacing: -.2px;
}
footer .footer_cc .list dt {
  display: block;
}
footer .footer_cc .list dd {
  color: #999;
}

footer .cc_bulkorder .tit, footer .cc_kakao .tit, footer .cc_qna .tit {
  height: 40px;
  padding-top: 8px;
  margin-top: 3px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  font-weight: 600;
  font-size: 14px;
  color:var(--grey-dark-color);
  line-height: 22px;
  text-align: center;
}
footer .cc_view {
  overflow: hidden;
  padding-top: var(--padding);
}
footer .cc_view .tit {
  float: left;
  width: 140px;
  margin-right: 16px;
}

footer .cc_bulkorder .txt {
  padding-top: 9px;
  color: #999;
}
footer .company {
  float: left;
  padding-top: 29px;
  font-size: 12px;
  color: #999;
  line-height: 20px;
}
footer .company .list {
  overflow: hidden;
  width: 100%;
  padding-bottom: 29px;
}

footer .company .list li {
  float: left;
  padding-right: var(--padding);
}
footer .company .list .link {
  font-size: var(--font-small);
  color: #333;
  line-height: 18px;
}
footer .company .bar {
  padding: 0 4px 0 3px;
}
footer .company .link {
  color:var(--purple-color);
}
footer .list_sns {
  float: left;
  padding-top: 45px;
}
footer .list_sns li {
  float: left;
}
footer .list_sns .link_sns {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: top;
}

footer .mark {
  float: left;
  width: 267px;
}
footer .mark .logo {
  float: left;
  width: 34px;
  height: 34px;
  margin-right: 10px;
}
footer .mark .txt {
  float: left;
  padding-top: 1px;
  font-size: var(--font-micor);
  color: #999;
  line-height: 16px;
  letter-spacing: -.5px;
  white-space: nowrap;
}
footer .lguplus .logo {
  width: 102px;
  height: 34px;
}

footer .footer_link {
  overflow: hidden;
  padding: 20px 0 24px;
  border-top: 1px solid #eee;
  letter-spacing: 0;
}
footer .authentication {
  float: left;
  padding-top: 3px;
}

footer .lguplus {
  width: 428px;
}
footer .footer_indemnification_clause {
  background-color:var(--semi-white);
  text-align: center;
  padding: 19px 0 27px;
}
footer .footer_indemnification_clause .txt {
  font-size:var(--font-micor);
  line-height: 16px;
  color: #999;
  letter-spacing: -.5px;
}
footer .footer_indemnification_clause .copy {
  font-style: normal;
  font-size:var(--font-micor);
  color: #949296;
  line-height: 25px;
  letter-spacing: 0;
}
